---
layout: my_home
title: chsxx
---
<div class="posts">
{% for post in paginator.posts %}
  <div class="post">
      <a href="{{  post.url  | absolute_url }}">
        <p class="post-title">{{ post.title}}</p>
      </a>
      <p class="post-note"> <span class="glyphicon glyphicon-tags"> {{ post.tags | array_to_sentence_string }}</span> <span class="pull-right">posted in  {{ post.date | date: "%Y %m %d " }}</span></p>
  </div>
  {% endfor %}
</div>
<div class="pagination">
  {% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    <a href="/blog" class="previous">Previous</a>
    {% else %}
    <a href="/blog{{ paginator.previous_page_path }}" class="previous">Previous</a>
  {% endif %}
  {% endif %}
  <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/blog{{ paginator.next_page_path }}" class="next">Next</a>
  {% endif %}
</div>


