footer{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
    flex: 0 0  auto;
}

footer>div>ul{
    display: block;
    height: 30px;
}

.footer>div>ul>li {
    list-style-type: none;
    display: inline-block;
    margin-right: 20px;
    text-decoration: none;
    line-height: 30px;
    font-size: 17px;
}

.footer-link {
    color: white;
}

.footer-link:active, .footer-link:visited, .footer-link:hover {
    color: white;
}
.content {
    min-height: 65%;
}
.posts {
    margin-bottom: 20px;
}

.post>a, .post>a:active .post>a:visited {
    color: grey;
    text-decoration: none;
}
.post>a:hover {
    color: #353535;
} 

.post {
    border-bottom: 1px solid #e5e9ef;
    margin-bottom: 10px;
}

.post-title {
    font-size: 24px;
}

.post-note {
    font-size: 12px;
    color: #787575;
}